<h1>About</h1>

<p>Blah blah blah blah blah blah blah</p>
<p>Blah blah blah blah blah blah blah</p>
<p>Blah blah blah blah blah blah blah</p>
<p>Blah blah blah blah blah blah blah</p>

<%= link_to 'Back', topics_path %>
